.myGrid {
  width  : 80%;
  height : calc(100vh - 100px);
  margin : auto;
}

.ui-grid-menu-button {
  height       : 27px;
  width        : 25px;
  padding-left : 3px;
  margin-top   : -1px;
  margin-right : -1px;
}